@charset "UTF-8";
/* ---------------------------------------------------------
  コラムページ 独自スタイル
--------------------------------------------------------- */
.p-columnPost {
  padding: 16px 0 80px;
}

.p-columnThumbnail {
  margin-bottom: 8px;
  box-shadow: var(--shadow-primary);
  border-radius: var(--border-radius-primary);
  overflow: hidden;
}

.p-columnThumbnail img {
  width: 100%;
}

.p-columnPostDate {
  display: flex;
  gap: 24px;
  padding-bottom: 8px;
  margin-bottom: 48px;
}

.p-columnBottomLink {
  margin-top: 40px;
  border-top: 1px solid;
  padding-top: 24px;
}

/* 投稿記事 */
.p-columnPost {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .p-columnPost {
    padding-bottom: 120px;
  }
}
