@charset "UTF-8";
/* ---------------------------------------------------------
  TOPページ 独自スタイル
--------------------------------------------------------- */

/*
  メインビジュアル
---------------------------------------------- */
.p-mainViual {
  position: relative;
}

.p-mainViual__image img {
  width: 100%;
}

.p-mainViual__text {
  font-size: 5.33vw;
  font-weight: 900;
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.p-mainViual__text span {
  display: block;
}

@media screen and (min-width: 768px) {
  .p-mainViual {
    padding-top: 40px;
    width: 90%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .p-mainViual__text {
    font-size: 40px;
    line-height: 1.7;
    left: 48px;
    bottom: 48px;
  }
}

/*
  導入セクション
---------------------------------------------- */
.p-topIntroductionTextContents {
  font-size: 14px;
  line-height: 1.7;
  text-align: center;
}

.p-topIntroductionTextContents p + p {
  margin-top: 1.5em;
}

@media screen and (min-width: 768px) {
  .p-topIntroductionTextContents {
    font-size: 16px;
  }
}

/*
  特徴セクション
---------------------------------------------- */
.p-topFeatureHeading {
  font-size: 24px;
  text-align: center;
  margin-bottom: 40px;
}

.p-topFeatureHeading__labelWrapper {
  display: block;
  margin-bottom: 8px;
}

.p-topFeatureHeading__label {
  color: #fff;
  font-size: 14px;
  font-weight: 900;
  line-height: 1;
  display: inline-block;
  padding: 8px 16px;
  background-color: #000;
  border-radius: 35px;
}

/* 特徴リスト */
.p-topFeatureList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 40px 24px;
}

@media screen and (min-width: 768px) {
  .p-topFeatureHeading {
    font-size: 32px;
    margin-bottom: 64px;
  }

  .p-topFeatureHeading__labelWrapper {
    margin-top: -4px;
  }

  .p-topFeatureHeading__label {
    font-size: 18px;
    padding: 11px 16px;
  }

  /* 特徴リスト */
  .p-topFeatureList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  /* 特徴リスト */
  .p-topFeatureList {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 流れ */
.p-topFlow .c-step__item::before {
  font-family: "Titillium Web", sans-serif;
}
