@charset "UTF-8";
/* ---------------------------------------------------------
  文字の方向付け
  - 子要素がインラインレベル要素の場合のみ適用
--------------------------------------------------------- */

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}
