@charset "UTF-8";
/* ---------------------------------------------------------
  フォームパーツ
--------------------------------------------------------- */
.c-form ::placeholder {
  color: var(--color-text-gray);
}

.c-form__parts + .c-form__parts {
  margin-top: 24px;
}

.c-form__label {
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 8px;
}

.c-form__label.required label {
  position: relative;
}

.c-form__label.required label::after {
  content: "※";
  color: var(--color-accent-red);
  font-size: 10px;
  position: absolute;
  top: 0;
  left: calc(100% + 4px);
}

.c-form__entry input,
.c-form__entry select {
  width: 100%;
  min-height: 48px;
  padding: 12px 16px;
  border: 1px solid var(--color-border-light);
  border-radius: 4px;
  background-color: transparent;
  appearance: none;
}

.c-form__entry textarea {
  width: 100%;
  min-height: 120px;
  padding: 12px 16px;
  border: 1px solid var(--color-border-light);
  border-radius: 4px;
  background-color: transparent;
  appearance: none;
}

.c-form__entry.small {
  max-width: 280px;
}

.c-form__selectWrapper {
  position: relative;
}

.c-form__selectWrapper::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../images/icon_arrow_bottom_bk.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}

.c-form__agreement {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.c-form__agreement a {
  text-decoration: underline;
  line-height: 1.5;
}

.c-form__agreement a[target="_blank"] {
  position: relative;
  padding-right: calc(4px + 1em + 4px);
}

.c-form__agreement a[target="_blank"]::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("../../images/icon_external_link_bk.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(1em * 1.5 / 2);
  right: 4px;
  transform: translateY(-50%);
}
