@charset "UTF-8";
/* ---------------------------------------------------------
  ラベル パーツ
--------------------------------------------------------- */
.c-label {
  color: var(--color-text-light);
  display: inline-block;
  line-height: 1;
  padding: 8px 16px;
  background-color: var(--color-accent-primary);
  border-radius: 25px;
}
