@charset "UTF-8";
/* ---------------------------------------------------------
  お知らせパーツ
--------------------------------------------------------- */

.c-newsList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-newsList__item {
  padding: 16px 0;
  border-bottom: 1px solid var(--color-border-light);
}

.c-newsList__itemInner {
  display: block;
  padding: 8px 0;
}

.c-newsList__contents {
  font-size: 14px;
  display: block;
  padding: 8px calc(24px + 8px) 8px 0;
  position: relative;
}

a.c-newsList__contents {
  transition: 0.3s all ease-in-out;
}

a.c-newsList__contents:hover {
  opacity: 0.7;
}

.c-newsList__head {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 8px;
}

.c-newsList__date {
  display: inline-block;
  line-height: 1.5;
}

.c-newsList__label {
  color: var(--color-text-light);
  font-size: 10px;
  line-height: 20px;
  display: inline-block;
  padding: 0 8px;
  background-color: var(--color-accent-primary);
  border-radius: 12px;
}

/* 内部リンクありのアイコン */
a.c-newsList__contents::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("../../images/icon_arrow_right_bk.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* 外部リンクありのアイコン */
a[target="_blank"].c-newsList__contents::after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../../images/icon_external_link_bk.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .c-newsList__contents {
    font-size: 16px;
  }
}
