@charset "UTF-8";
/* ---------------------------------------------------------
  ページネーション パーツ
--------------------------------------------------------- */
.c-pagination {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.c-pagination__link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  transition: 0.3s all ease-in-out;
}

.c-pagination__link.number:hover {
  color: var(--color-button-text);
  font-weight: 900;
  background-color: var(--color-button-bg);
}

.c-pagination__link.is-current {
  color: var(--color-button-text);
  font-weight: 900;
  background-color: var(--color-button-bg);
}
