@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
/* ---------------------------------------------------------
  投稿 スタイル
--------------------------------------------------------- */

/* 最初の要素だけ上部余白を適用しない */
#js-post > :first-child {
  margin-top: 0;
}

.c-post {
  font-size: 14px;
  line-height: 1.7;
}

/*
  見出し
---------------------------------------------- */
.c-post h1,
.c-post h2,
.c-post h3,
.c-post h4,
.c-post h5 {
  line-height: 1.5;
}

.c-post h1 {
  font-size: 28px;
  margin-top: 1.429em;
  margin-bottom: 0.857em;
}

.c-post h2 {
  font-size: 24px;
  line-height: 1.5;
  margin-top: 2.667em;
  margin-bottom: 1.667em;
  padding: 0 0.667em 0.333em 0.667em;
  border-left: 8px solid #000;
  border-bottom: 1px solid #000;
}

.c-post h3 {
  font-size: 20px;
  margin-top: 1.6em;
  margin-bottom: 1.2em;
  padding: 0 0 0.4em;
  border-bottom: 1px solid #000;
}

.c-post h4 {
  font-size: 16px;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.c-post h5 {
  font-size: 14px;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

/*
  段落
---------------------------------------------- */
.c-post p {
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

/*
  リスト
---------------------------------------------- */
.c-post ul,
.c-post ol {
  padding-left: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

/*
  図表、挿絵
---------------------------------------------- */
.c-post figure {
  margin-top: 40px;
  margin-bottom: 40px;
}

.c-post figcaption {
  font-size: 12px;
  margin-top: 8px;
}

/*
  テーブル
---------------------------------------------- */
.c-post table {
  margin-top: 40px;
  margin-bottom: 40px;
  border-collapse: collapse;
  overflow-x: scroll;
  display: block;
  padding-bottom: 16px;
}

.c-post body {
}

.c-post th,
.c-post td {
  padding: 8px 16px;
  border: 1px solid;
}

.c-post tr:first-child th {
  color: #fff;
  background-color: #000;
}

.c-post th {
  color: #fff;
  background-color: #75787a;
  min-width: 200px;
}

.c-post p {
  margin: 0;
}

/*
  テキストリンク
---------------------------------------------- */
.c-post a {
  text-decoration: underline;
}

.c-post a[target="_blank"] {
  display: inline-block;
  padding-right: calc(4px + 1em + 4px);
  position: relative;
}

.c-post a[target="_blank"]::after {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("../../images/icon_external_link_bk.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: calc(1em * 1.7 / 2);
  transform: translateY(-50%);
  right: 4px;
}

/*
  インラインコード
---------------------------------------------- */
.c-post code {
  font-family: "Source Code Pro", monospace;
}

.c-post p code {
  color: #fff;
  font-size: 12px;
  line-height: 1.2;
  display: inline-block;
  padding: 4px 8px;
  background-color: #000;
  border-radius: 2px;
  margin: 0 4px;
  position: relative;
  top: -2px;
}

/*
  コードブロック
---------------------------------------------- */
.c-post pre {
  color: #fff;
  white-space: pre-wrap;
  background-color: rgb(0 0 0 / 85%);
  border-radius: var(--border-radius-primary);
  padding: 24px;
  overflow: scroll;
  margin-top: 40px;
  margin-bottom: 40px;
}

.c-post [data-filename] {
  position: relative;
}

.c-post [data-filename]::after {
  color: #fff;
  font-size: 14px;
  content: attr(data-filename);
  display: block;
  width: 100%;
  padding: 8px 16px;
  border-radius: 4px 4px 0 0;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}

.c-post [data-filename] pre {
  padding-top: 56px;
}

/*
  引用
---------------------------------------------- */
.c-post blockquote {
  padding: 40px 32px;
  position: relative;
  background-color: #fafafa;
  margin-top: 40px;
  margin-bottom: 40px;
}

.c-post blockquote::before,
.c-post blockquote::after {
  content: "";
  display: inline-block;
  width: 48px;
  height: 36px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.c-post blockquote::before {
  background-image: url("../../images/icon_quote_left.svg");
  top: -8px;
  left: 16px;
}

.c-post blockquote::after {
  background-image: url("../../images/icon_quote_right.svg");
  bottom: -8px;
  right: 16px;
}

.c-post blockquote p {
  font-size: 0.875em;
}

.c-post blockquote p + p {
  margin-top: 1.5em;
}

/*
  区切り線
---------------------------------------------- */
.c-post hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .c-post {
    font-size: 16px;
  }

  /*
  見出し
  ---------------------------------------------- */
  .c-post h1,
  .c-post h2,
  .c-post h3,
  .c-post h4 {
    line-height: 1.5;
  }

  .c-post h1 {
    font-size: 32px;
  }

  .c-post h2 {
    font-size: 28px;
    border-left: 16px solid #000;
  }

  .c-post h3 {
    font-size: 24px;
  }

  .c-post h4 {
    font-size: 18px;
  }

  .c-post h5 {
    font-size: 16px;
  }

  /*
  図表、挿絵
  ---------------------------------------------- */
  .c-post figcaption {
    font-size: 14px;
  }
}
