@charset "UTF-8";
/* ---------------------------------------------------------
  コンテンツ幅 設定用
--------------------------------------------------------- */

.l-container {
  width: 1024px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
