@charset "UTF-8";
/* ---------------------------------------------------------
  セクション 設定用
--------------------------------------------------------- */

/* h2 セクション相当 */
.l-sectionPrimary {
  padding-top: 80px;
  padding-bottom: 80px;
}

.l-sectionPrimary--narrow {
  padding-top: 40px;
  padding-bottom: 40px;
}

.l-sectionPrimary--bgSecondary {
  background-color: var(--color-bg-secondary);
}

@media screen and (min-width: 768px) {
  .l-sectionPrimary {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .l-sectionPrimary--narrow {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
