@charset "UTF-8";
/* ---------------------------------------------------------
  ページ全体の囲み
  - ページの内容が少なくてもフッターを下部に固定する
--------------------------------------------------------- */

.l-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
